
body{
    background: linear-gradient(to left, #ffcc00, #ff6600);
}
.button{
    text-align: center;
    background:linear-gradient(#ffcc00, #ff6600);
    width: 150px;
    height: 40px;
    border-radius: 100px;
    font-size: larger;
    position: relative;
    

}
.para{
    color:blue;
    font-size: smaller;
    text-align: center;
}

/* .divbutton{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    left: 190px;
    top: 355px */



#First_Name{
    border: none;
    border-bottom:2px solid #000000;
    height: 40px;
    font-size: 16px;
   position: relative;
    overflow-x: scroll;

}
#Last_Name{
    border: none;
    border-bottom:2px solid #000000;
    height: 40px;
    font-size: 16px;

}
#number{
    border: none;
    border-bottom:2px solid #000000;
    height: 40px;
    font-size: 16px;

}
#email{
    border: none;
    border-bottom:2px solid #000000;
    height: 40px;
    font-size: 16px;

}
#message{
    border: none;
    border-bottom:2px solid #000000;
    height: 40px;
    font-size: 16px;

}

.form{
    height: 550px;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8),
            -10px -10px 20px rgba(0, 0, 0, 0.8),
            10px -10px 20px rgba(0, 0, 0, 0.8),
            -10px 10px 20px rgba(0, 0, 0, 0.8);

    margin-left: auto;
    margin-right: auto;
    top: 50px;
    display: flex;
    justify-content: center;
   
    width: 45%;
    

    background: white;

}
.internal{
    position: relative;
    text-align: center;
    margin-bottom: 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; Adjust the height as needed */
}

.divbutton {
    margin-top: 0px; 
    margin-left: 70px;
}

.title{
    font-size: xxx-large;
    font-style:  oblique;
}
.label{
    font-size: large;
}

.select{
    font-size: 16px;
    width:48px;
}